input {
    border: 1px solid #0f4e8c;
    padding: 10px;
}

button[type=submit] {
    border: 0;
    text-transform: uppercase;
    background-color: #0f4e8c;
    color: #fff;
    line-height: 1;
    height: 46px;
    cursor: pointer;
    padding: 0 20px;
}